body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f2ea;
}

.block {
  padding: 40px 0;
}
.block .wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.btn {
  display: block;
  text-decoration: none;
  color: #010000;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}
.btn.icon {
  margin-right: 16px;
}
.btn.icon svg {
  height: 32px;
  stroke-width: 0.6px;
}
.btn.primary {
  background-color: #fdc886;
  padding: 16px 26px;
  border-radius: 9px;
}
.btn.primary-alt {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 26px;
  background-color: transparent;
  border: 2px solid #f2f2f2;
  transition: 250ms;
  font-weight: 700;
}
.btn.primary-alt img {
  height: 28px;
}
.btn.primary-alt:hover {
  background-color: #f2f2f2;
}

.block.header .row {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.block.header .col.logo h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 28px;
}
.block.header .col.logo a {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #010000;
}
.block.header .col.logo a.sales-link {
  padding-top: 14px;
  border-top: 1px solid #545454;
  display: flex;
  align-items: center;
  gap: 28px;
  font-size: 15px;
}
.block.header .col.logo a.sales-link svg {
  height: 16px;
  stroke-width: 2px;
}
.block.header .col .guest-menu {
  display: flex;
  align-items: center;
  gap: 28px;
}
.block.login .form-card {
  background-color: #ffffff;
  width: 600px;
  margin: auto;
  padding: 56px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 26px;
}
.block.login .form-card__title {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 26px;
}
.block.login .form-card__copy {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 40px;
}
.block.login .form-card form {
  margin-bottom: 40px;
}
.block.login .form-card form .form-group {
  margin-bottom: 14px;
}
.block.login .form-card form input {
  width: 100%;
  padding: 14px 18px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 2px solid #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  outline: none;
}
.block.login .form-card form input::-moz-placeholder {
  text-transform: capitalize;
  font-weight: 500;
  opacity: 0.85;
}
.block.login .form-card form input:-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 500;
  opacity: 0.85;
}
.block.login .form-card form input::placeholder {
  text-transform: capitalize;
  font-weight: 500;
  opacity: 0.85;
}
.block.login .form-card form a {
  display: block;
  margin-top: 28px;
  margin-bottom: 38px;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #010000;
}
.block.login .form-card form a::first-letter {
  text-transform: uppercase;
}
.block.login .form-card form .btn {
  width: 100%;
}
.block.login .form-card__optional-tag {
  display: block;
  margin-bottom: 34px;
  font-size: 16px;
  font-weight: 500;
  color: #010000;
}
.block.login .form-card__social-signup {
  display: flex;
  gap: 4px;
  margin-bottom: 34px;
}
.block.login .form-card__social-signup .btn {
  flex: 1;
  font-size: 14px;
}
.block.login .form-card .create-account {
  font-size: 16px;
  font-weight: 500;
}
.block.login .form-card .create-account a {
  text-transform: capitalize;
  text-decoration: none;
  color: #010000;
  font-weight: 600;
}
.block.login .form-card .create-account::first-letter {
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */